@media (min-width: 992px){
  :root {
    --size: 50vmin;
    --white: #fff;
    --blue: #3051f1;
    --purple: #c92bb7;
    --red: #f73344;
    --orange: #fa8e37;
    --yellow: #fcdf8f;
    --yellow_to: #fbd377;
  }
/*__________________GENERAL SETTINGS_____________________*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather';    
}
body{
    display: flex;
    flex-direction: column;
    background: rgb(238,174,202);
    background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #315373;
}
h1, h2, h3, h4, p{
font-family: 'Raleway';
}
/*_________________LOAD SPINNER__________________*/
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: rgba(238, 174, 202, 0.505);
  background: linear-gradient(180deg, rgba(238, 174, 202, 0.668) 0%, rgba(148, 188, 233, 0.641) 100%); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 4;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out; /* Définissez la durée et le type de transition ici */
}
.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
  margin: 0 4px 0 0;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: rgba(255, 255, 255, 0);
  }
  50% {
    transform: scaleY(1);
    background: rgb(30, 74, 125);
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}


/*____________________________HEADER____________________________*/

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    border-bottom: #ffffff solid 1px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.659);
    overflow: hidden;
    background: rgb(238,174,202);
    background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
}
header .logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: -80px 0 0 -20px;
}
header .img-container{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
header .logo img{
width: 100%;
}
/*____________HEADER NAVIGATION BUTTONS______________*/
/*______BUTTON GENERAL STYLE_____*/
header nav{
  width: auto;
  display: flex;
  flex-direction: row;
}
header nav .btn-container{
  display: flex;
  flex-direction: row;
}
header nav .button{
  position: sticky;
}
header nav i{
position: relative;
margin: 30px 0 0 25px;
overflow: hidden;
width: 1.5em;
border-radius: 25px;
padding: 10px 30px 10px 10px;
border: solid #ffffff 1px;
box-shadow: 1px 1px 6px rgb(0, 0, 0);
transition-duration: 600ms;
z-index: 2;
}
header nav i p{
  font-family: 'Raleway';
  font-weight: 400;
  margin: -15px 0 0 30px;
  display: flex;
}
/*BUTTON HOVER / ANIMATION*/
header nav i:hover{
  width: 75%;
  transition: 300ms ease;
  overflow: visible;
  background-color: #ffffff;
}
/*_____________________________________________MAIN___________________________________*/
main{
  display: flex;
  flex-direction: column;
}
/*__________________CV PART__________________*/
main .cv-part{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  top: 10em;
  left: 10em;
}
main .cv-part h2{
position: relative;
top: 2em;
left: 4em;
z-index: 0;
font-family: 'Merriweather';
font-weight: 200;
font-size: 30px;
background: linear-gradient(
        to right,
        rgb(255, 255, 255) 20%,
        #00affa 30%,
        #628695 70%,
        #da4a86 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
main .info-container{
  width: 100%;
}
main .info-container #subtitle-1{
  font-weight: 400;
  margin: 4em 0 0 7em;
  width: auto;
}
main .info-container #subtitle-2{
  font-weight: 300;
  margin: 2em 0 0 7em;
  width: 100%
}
main .info-buttons{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 18em;
  right: 32em;
  justify-content: space-between;
  width: 100%;
}
main .info-buttons a{
  display: flex;
}
main .info-buttons p{
  margin: 1em 0 0 0.5em;
  color: #fff;
}
#parcours-2{
  display: none;
}
main .btn-download i,main .btn-portfolio i{ 

  background-color: #fff;
  padding: 10px 0px 10px 15px;
  border-radius: 25px;
  width: 2em;
  height: 2em;
  border: solid #ffffff 1px;
  box-shadow: 1px 1px 6px rgb(0, 0, 0);
  transition-duration: 200ms;
  z-index: 2;
  font-size: 25px;
  margin: 0;
  display: flex;
  flex-direction: row;
}
main .btn-portfolio i{
  padding: 11px 0px 10px 9px;
  margin: 0 0 0 2em;
}
@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}
main section .cv-container{
  display: flex;
}
main section .profile-picture img{
  width: 300px;
  left: -1em; 
}
main section .profile-picture{
  width: 200px;
  height: 200px;
  overflow: hidden;
  object-fit: contain;
  border-radius: 100px;
  top: 4em;
  left: 5em;
  border: solid 1px #ffffff;
  z-index: 0;
  position: relative;
}
main .socials-links{
  position: absolute;
  top: 10em;
  align-self: center;
}
main .socials-links ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .socials-links ul li {
  list-style: none;
}

main .socials-links ul li a {
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  margin: 0 50px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  box-shadow: 1px 1px 6px rgb(0, 0, 0);
}
main .socials-links ul li a:hover{
  box-shadow: 1px 1px 10px rgb(238, 223, 255);
}
main .socials-links ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

main .socials-links ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

main .socials-links ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 169, 207);
  transition: .5s;
  z-index: 2;
}

main .socials-links ul li a:hover:before {
  top: 0;
}

main .socials-links ul li:nth-child(1) a:before{
  background: #3b5999;
}

main .socials-links ul li:nth-child(2) a:before{
  background: #55acee;
}

main .socials-links ul li:nth-child(3) a:before {
  background: #0077b5;
}

main .socials-links ul li:nth-child(4) a:before {
  background: radial-gradient(
    circle farthest-corner at 28% 100%,
    var(--yellow) 0%,
    var(--yellow_to) 10%,
    var(--orange) 22%,
    var(--red) 35%,
    transparent 65%
  ), linear-gradient(145deg, var(--blue) 10%, var(--purple) 70%);
}
/*________SCROLL ARROW ANIMATION_____________*/
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  bottom: 20px;
  align-self: center;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

}

/*_MAIN & SCROLLING ANIMATION_*/
main .scroll-container{
  margin: 25em 0 0 0;
}
.scroll-container {
  height: 100vh;
  min-height: 450px;
  padding: 1em 1em;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.scroll-container:nth-of-type(1) {
  background-color: #fdfdfd00;
}

.scroll-container:nth-of-type(even) {
flex-direction: row;
}

.scroll-element {
  width: 50%;
}

.scroll-element {
  width: 280px;
  height: 530px;
  background-color: #e5e1e124;
  border-radius: 1px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.63);
  margin: 2em 0 0 5em;
}
/*_____________________________SLIDESHOW___________________________*/
main .slider-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 510px;
  border: #ffffff solid 1px;
  margin: 0.6em 0 0 0.6em;
  z-index: 3;
  display: flex;
  position: absolute;
}
ul {
  display: flex;
  list-style: none;
  transition: all 1s ease;
}
main .slider {
width: 250px;
height: 500px;
overflow: hidden;
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
}

main .slider-container img {
width: 250px;
height: 600px;
object-fit: cover;
}
main .slider-button{
  position: absolute;
  left: 8.5em;
  top: 88em;
  z-index: 4;
}
main button{
  font-family: 'Raleway';
  font-weight: 200;
}
main .slider-button button p{
  margin: 10px;
  font-family: 'Raleway';
  font-weight: 300;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
    transform: scale(1);
    border-radius: 25px;
    
}
.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #ceb7ca);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    transform: scale(1.1);
}

.btn-hover:focus {
    outline: none;
}
/*____JS STYLE_____*/
.js-scroll {
  opacity: 0;
  transition: opacity 1s;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 2s ease-in-out both;
}
main .scroll-caption p{
width: 100%;
}
main .scroll-caption{
border: solid white 1px;
background-color: rgba(255, 255, 255, 0.338);
padding: 20px;
width: 30%;
height: 50%;
border-radius: 25px;
box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.63);
position: absolute;
left: 45em;
}
main .scroll-caption h3{
  font-family: 'Merriweather';
  color: #ffffff;
  margin: 0 0 1em 0;
}
main .scroll-caption .qr-code{
width: 120px;
height: 50px;
border-radius: 25px;
margin: 2.5em 0 0 0;
}
main .scroll-caption .qr-code img{
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
  margin: 1em 0 0 9em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.63);
}
main .stuff-container{
  margin: 0 10em 0 2em;
}
main .stuff-container .stuff-icons{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .stuff-container .stuff-icons .adobe-icons{
  width: 50px;
  height: 48px;
  object-fit: contain;
  margin: 0 0 2em 0;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(104, 104, 104);
  transform: scale(1);
  transition: 1s;
}
main .stuff-container .stuff-icons .adobe-icons:hover{
transform: scale(1.1);
transition-duration: 600ms;
box-shadow: 1px 1px 10px rgb(255, 255, 255);
}
main .stuff-container .stuff-icons i{
  font-size: 30px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
}
#icon-caption1{
  margin-left: 1em;
}
main .stuff-container .stuff-icons .photo-icon{
 width: 50px;
 height: 50px;
 background-color: #ffffff;
 border-radius: 25px;
 margin: 0 0 2em 0;
 overflow: hidden;
 transform: scale(1);
 transition: 1s;
}
main .stuff-container .stuff-icons .photo-icon:hover {
  transform: scale(1.1);
  width: 200px;
  transition-duration: 600ms;
  overflow: visible;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.63);
}
main .stuff-container .stuff-icons i p{
  font-weight: 300;
  font-size: 15px;
  margin : 0 1em 0 0;
}
main .stuff-container .stuff-icons img{
width: 50px;
margin: 0px;
}
