/*__________________GENERAL SETTINGS_____________________*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather';
    
}
body{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
font-family: 'Raleway';
}
/*____________________________HEADER____________________________*/

