/*__________________GENERAL SETTINGS_____________________*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather';
    
}
body{
    display: flex;
    flex-direction: column;
    background: rgb(238,174,202);
    background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #315373;
}
h1, h2, h3, h4{
font-family: 'Raleway';
}
/*____________________________HEADER____________________________*/
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    border-bottom: #ffffff solid 1px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.659); ;
}
header .logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: -30px 0 0 -20px;
}
header .img-container{
  width: 100px;
  object-fit: contain;
}
header .logo img{
width: 100%;
}
/*____________HEADER NAVIGATION BUTTONS______________*/
p {
    font-family: 'Raleway';
    font-weight: bold;
    text-align: center;
    position: relative;
  }
nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
}
nav, nav div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
nav div{
padding: 1em;
overflow: hidden;
}
nav p{
    position: relative;
    left: -95px;
}
nav:hover p{  
    left: 35px;
    transition: .7s ease;
}
nav i{
    position: fixed;
    z-index: 3;
}
nav .btn-container{
  display: flex;
  flex-direction: row;
}
div .button {
  background-color: #ffffff;
  border: none;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  position: fixed;
  transition: .7s ease;
  }
nav .button .btn-background{
  background-color: #ffffff;
  border-radius: 25px;
  z-index: 2;
  padding: 25px;
  position: fixed;
}
nav #btn-1 .btn-background{
  top: 1em;
  left: 1em;
} 
  div .button:hover {
    background-color: #ffffff;
    width: 125px;
    border-radius: 30px;
  }
  
  div .button:active {
    background-color: #ffffff;
    transition: 0s;
    color: #ecf0f1;
  }
  
  #btn-2{
    display: none;
  }



